/*DEBUGGING*/

* {
/*	border-style: solid;
	border-color: red;
	border-width: 2px;*/
}

/*GLOBAL STYLES*/

body {
	background-color: #A6E6F4;
	margin: 0;
}

.gradientbg {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #A6E6F4), color-stop(50%, #848372));
	background-image: -webkit-linear-gradient(top, #A6E6F4 70%, #848372 50%);
	background-image: -o-linear-gradient(top, #A6E6F4 70%, #848372 50%);
	background-image: linear-gradient(180deg, #A6E6F4 70%, #848372 50%);
}

